---
layout: home
title: All Posts
description: "An archive of posts."
comments: false
---

{% for post in site.posts %}
    {% capture this_month %}{{ post.date | date: "%M" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%M" }}{% endcapture %}

    {% if forloop.first %}
    <article>
      <h2 id="{{ this_month }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}

        <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>

    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_month != next_month %}
          </ul>
        </article>
        <article>
          <h2 id="{{ next_month }}-ref" class="month-heading">{{next_month}}</h2>
          <ul>
        {% endif %}
    {% endif %}
{% endfor %}
