<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ site.title }} | {{ page.title }} {% else %}{{ site.title }} | {{ site.description }}{% endif %}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:title" content="{{ site.title }} | {{ site.description }}" />
    <meta property="og:type" content="blog">
    <meta property="og:url" content="{{ site.url }}" />
    {% endif %}
    <meta property="og:site_name" content="{{ site.title }} - {{ site.description }}" />
    <meta property="og:locale" content="en_GB" />
    {% if page.img %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.img }}">
    <meta property="og:image" content="{{ site.url }}{{ page.img }}" />
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}images/social/logo.png">
    <meta property="og:image" content="{{ site.url }}images/social/logo.png" />
    {% endif %}
    <meta name="twitter:image:alt" content="{{ site.title }}">
    <meta name="twitter:card" content="summary" />
    {% assign user = site.data.authors | where: "author", page.author %}
    {% if user.size == 1 %}
    {% for author in user %}   
    <meta name="twitter:creator" content="@{{ author.twitter }}" />
    <meta name="twitter:site" content="@{{ author.twitter }}" />
    {% endfor %}
    {% else %}
    <meta name="twitter:creator" content="@ajeetnewit" />
    <meta name="twitter:site" content="@ajeetnewit" />
    {% endif %}
    {% if page.title %}
    <meta name="twitter:title" content="{{ site.title }} | {{ page.title }}" />
    {% else %}
    <meta name="twitter:title" content="{{ site.title }} | {{ site.description }}" />
    {% endif %}
    {% if page.keywords %} 
    <meta name="keywords" content="{{ page.keywords }}" /> 
    {% else %}
    <meta name="keywords" content="PowerShell, DSC, DevOps, Visual Studio, Visual Studio Team Services, VSTS, Application Lifecycle Management, Extensions, Extensibility, Azure"/> 
    {% endif %}
    <link rel="stylesheet" href="{{ "/css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a45eea5db13cb53"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Kreon|Roboto+Slab|Bitter' rel='stylesheet' type='text/css'>
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% else %}
    <meta name="keywords" content="Azure, DevOps, VSTS, VisualStudio" />
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
