body {
	margin: 0;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}
a {
	text-decoration: none;
	color: $color-link;
}
a:hover, a:focus {
	text-decoration:underline;
	color: $color-link-hover;
}
blockquote {
	background: #E8E8FF;
	margin:0;
	padding: 5px 20px;
	border-left: 10px solid #4E7AB5;
}
code,pre {
	font-family:  $code-font-family;
	font-size: $code-font-size;
}
code {
	color: #333;
	background-color: #E8E8FF;
	padding: 2px 5px;
	border-radius: 3px;
}
pre {
	overflow-x: auto;
	padding: 20px 50px;
}
pre, pre code {
	color: #f2f2f2;
	background-color: #223;
}
pre code {
	padding: 0;	
}
.hide {
    display: none;
}
.center {
	text-align: center;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 10pt auto;
	//background: #FFF;
	td, th {
		border: 1px solid #CCC;
		padding: 5px 15px;
		margin: 0;
	}
	
	th {
		border-color: #555;
		background: #555;
		color: #eee;
		font-weight:normal;
	}	
	// tr:hover {
	// 	background: rgba(255,255,0,0.2);
	// }
}

table.noborder-table{
	border-collapse: collapse;
	border-spacing: 0;
    margin: 10pt auto;
	//background: #FFF;
	td, th {
		border: 0px solid #CCC;
		padding: 5px 15px;
		margin: 0;
	}
	
	th {
		border-color: #555;
		background: #555;
		color: #eee;
		font-weight:normal;
	}	
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

.about{
        background: none;
        table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 10pt auto;

	td, th {
		border: none;
		padding: 5px 15px;
		margin: 0;
	}
	
	th {
		border: none;
		color: #eee;
		font-weight:normal;
	}
    }
}

.videocontainer iframe {
	
    position: absolute;
    width: 100%;
	margin: 0 -30px;
            @include media-query($on-palm) {
		        margin: 0 -10px;
            }
}


#mainbox{
	box-sizing: border-box;
	justify-content: center;
	background: none;
	display: flex;
	flex-wrap: wrap;
	table.mtable{
		background: none;
		border-collapse: collapse;
		border-spacing: 0;
	}
	.card{
		width: 350px;
		border: 1px solid #999;
		box-shadow: 0 1px 4px #999;
		border-top: 10px solid #01B5B5;
		min-height: 100px;
		padding-: 10px;
		margin: 10px;
		font-family: 'Kreon', serif;
		font-weight: 400;
		color: #303030;
	}
	
	img.tilt{
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
				transition: all 0.5s ease;
		}
	
	img.tilt:hover {
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

	img.profile-img{
		border-radius: 5%;
		width: 70px;
		margin: 10px;
	}

	h1{
		font-size: 16px;
		font-weight: bold;
		margin-left: 90px;
		margin-top: -70px;
		font-family: 'Bitter';
	}

	p{
		margin: 35px;
		font-family: segoe ui;
		line-height: 1.4em;
		font-size: 1.2em;
	}
}

/*TAGS*/
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
  li {
  		float: left; 
  }
}



.tag {
  background: #E0E0E3;
  border-radius: 3px 0 0 3px;
  color: #222;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  //-webkit-transition: color 0.2s;
  font-size: 11px;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  //box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

//tag dot
.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E3;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #223;
  color: white;
  text-decoration: none;
}

.tag:hover::after {
   border-left-color: #223; 
}

.scrollToTop{
	width:50px; 
	height:50px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:35px;
	right:1px;
	display:none;
	background: url('/images/others/up-arrow.png') no-repeat 0px 10px;
}
.scrollToTop:hover{
	text-decoration:none;
}

//Not used begin
div#author-content {
  padding-bottom: 15px;
  border: 1px #888;
}
div#about-author{
	padding-right: 5px;
	text-align: justify;
}
img#image-author {
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
}

#social-author {
	padding-top: 15px;
}
//Not used end

#entry-author-info {
    background: #f2f2f2;
	box-shadow: 0 1px 1px #999;
    padding: 18px 20px;
    margin: 24px 0;
    overflow: hidden;
    clear: both;
    font-size: 14px;
    line-height: 20px;
}

#entry-author-info #author-avatar {
    background: #fff;
    border: 1px solid #e7e7e7;
    float: left;
    margin: 0 -104px 0 0;
    padding: 11px;
    height: 60px;
}

#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}

.text-success{
	color: #4CAF50;
}

.text-darkred{
	color: #F04848
}

