.post {
    .post-header {
    	margin: 0 100px;
    	margin-bottom: 10px;
    	padding: 20px;
        .post-title {
        	font-size:2.5em;
        	font-weight: 400;
            font-family: 'Candara', serif;
            color:#069;
        	margin: 0 -100px;
        	@include media-query($on-palm) {
        		font-size: 34px;
        	}
        }
        .post-meta {
        	color:#999;
        	font-size:$base-font-size;
        	margin: 0 -100px;
        }
        @include media-query($on-palm) {
    		text-align:center;
    		margin-bottom: 10px;
    		padding: 10px;
        }
    }
    .post-content {
        color: #000;
        
        h1,h2,h3,h4,h5,h6 {
            color: #000;
        }
        
        h1, h2 {
        	margin-bottom: 10px;
            margin-top: 30px;
        }
        
        h1, h2, h3 {
            border-bottom: 1px solid #CCC;
        }
        
        pre {
        	margin: 0 -30px;
            @include media-query($on-palm) {
		        margin: 0 -10px;
            }
        }
        a {
            //background: #E8E8FF;
            text-decoration:none;
            font-weight: bold;
            color: #0070C0;
        }
		a:hover { 
			text-decoration:underline;
			//text-shadow: 0 0 2px #999;
			//text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
			
		}
        .middle-image {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
    .post-comments {
        padding-top: 30px;
    }
}